body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.link_logo {
    display: inline-block;
}

.tag_link > div {
    transition: ease-in-out .3s;
}

.tag_link:hover > div {
    transform: rotate(3deg);
    background: #ffffff;
    color: #353535 !important;
}

.img_cover {
    background-size: cover !important;
}

.container {
    width:1024px;
    margin: 0 auto;
}

.bg_gray {
    background: #464646;
}

input {
    background: #fafafa;
    border: 1px solid #e9e9e9;
    font-size: 17px;
    padding: 8px;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
}

select {
    background: #fafafa;
    font-size: 16px;
    padding: 8px;
    height: 38px;
    font-family: Roboto;
    font-weight: 300;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    width: 100%;
}

.error_label {
    color: #F44336;
    font-weight: 600;
    margin: 10px 0px;
}

.success_label {
    color: #2ecc71;
    font-weight: 600;
    margin: 10px 0px;
}

.input_label {
    font-size: 20px;
    margin: 15px 0px;
    font-weight: 500;
    display: inline-block;
}


button {
    background: #eb9424;
    color: #ffffff;
    border: 1px solid #d8861c;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

button:hover {
    background: #d8861c;
}

.split_fields {
    margin: 30px 0px;
    padding: 20px 0px;
    border-top: 2px solid #dddddd;
}

.split_fields.last {
    margin-bottom: 0;
    padding-bottom: 0;
}

.progress {
    text-align: center;
    margin: 30px 0;
    color: #eb9324;
}

/*=============================
            HEADER FOOTER
===============================*/

footer {
    background: #353535;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 0px;
}

footer .img_cover{
   margin: 0 auto;
}

footer .footer_disc {
    margin: 10px 0px;
}

/*=============================
            THUMBNAIL
===============================*/

.thumbnail_wrapper {
    margin: 0 auto;
    width: 100%;
    margin-top: 90px;
    height: 800px;
    overflow: hidden;
}

.thumbnail_stripes {
    position: relative;
}

.thumbnail_title {
    position: relative;
}

.thumbnail_stripes .stripe {
    width: 230px;
    height: 1200px;
    position: absolute;
}

.thumbnail_title_number {
    font-size: 260px;
    color: #353535;
    transform: translate(250px,170px);
    position: absolute;
    font-family: 'Black Ops One', cursive;
}

.thumbnail_first_title {
    position: absolute;
    background: #464646;
    color: #ffffff;
    font-size: 110px;
    line-height: 75px;
    text-transform: uppercase;
    padding: 17px 5px 5px 30px;
    font-family: 'Fugaz One', cursive;
}

.thumbnail_first_title::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 97px solid #464646;
    border-right: 45px solid transparent;
    margin-left: 4px;
    margin-top: -17px;
}

.thumbnail_second_title {
    position: absolute;
    background: #464646;
    color: #ffffff;
    font-size: 110px;
    line-height: 75px;
    text-transform: uppercase;
    padding: 17px 30px 5px 30px;
    font-family: 'Fugaz One', cursive;
}

.thumbnail_image {
    width: 500px;
    height: 500px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
}

/*=============================
            MATCHES
===============================*/

.matches_wrapper {
    background: #2B2B2B;
    padding: 90px 0px;
}

.matches_wrapper .home_matches {
    flex-wrap: wrap;
    display: flex;
    margin: 60px 0;
}

.matches_wrapper .home_matches .item {
    width: 50%;
    margin: 35px 0px;
}

.matches_wrapper .home_matches .item .wrapper {
    padding-right: 50px;
}


/*=============================
            MATCHES BLOCK
===============================*/

.match_block .match_date{
    display: inline-block;
    color: #2b2b2b;
    font-size: 18px;
    background: #ffffff;
    font-family: "Fugaz One";
    padding: 0 12px;
    text-transform: uppercase;
}

.match_block .match_wrapper .match_top,
.match_block .match_wrapper .match_bottom {
    display: flex;
}

.match_block .match_wrapper .match_bottom {
    margin-top: 5px;
}

.match_block .match_wrapper .match_top .left,
.match_block .match_wrapper .match_bottom .left {
    background: #464646;
    font-family: 'Righteous', cursive;
    flex-grow: 1;
    margin-right: 5px;
    padding: 10px;
}

.match_block .match_wrapper .match_top .left div,
.match_block .match_wrapper .match_bottom .left div {
    float:left
}

.match_block .match_wrapper .match_top .left .icon,
.match_block .match_wrapper .match_bottom .left .icon {
    width: 50px;
    height: 50px;
}

.match_block .match_wrapper .match_top .left .team_name,
.match_block .match_wrapper .match_bottom .left .team_name {
    font-size: 26px;
    padding: 6px 25px;
    color: #ffffff;
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}


.match_block .match_wrapper .match_top .right,
.match_block .match_wrapper .match_bottom .right { 
    background: #ec9424;
    width: 70px;
    color: #2b2b2b;
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
}

/*=============================
            PLAYERS BLOCK
===============================*/


.home_players { 
    background: #ffffff;
    padding-top: 100px;
}

.home_players_wrapper {
    padding-bottom: 100px;
    min-height: 600px;
}

.home_players .home_card_wrapper {
    position: relative;
    float: left;
    width: 630px;
    min-height: 600px;
}

.home_players .home_text_wrapper {
    float: right;
    width: 390px;
}

/*=============================
            PLAYER CARD
===============================*/


.player_card_wrapper {
    position: relative;
    width: 290px;
    font-family: 'Fugaz One', cursive;
    background: #f5f5f5;
    border: 4px solid #f5f5f5;
    border-radius: 5px;
}

.player_card_wrapper .player_card_thumbnail {
    width: 100%;
    border-radius: 5px;
    height: 400px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

.player_card_wrapper .player_card_info {
    position: absolute;
    bottom: 0;
    left: 4px;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.player_card_wrapper .player_card_nickname {
    color: #eb9324;
    font-size: 30px;
    background: #2b2b2b7a;
}

/*=============================
         PROMOTION
===============================*/

.promotion_wrapper {
    padding: 30px 0px 60px 0px;
    background: #464646;
}

.promotion_wrapper .promotion_animation {
    display: flex;
    padding: 80px 0px 50px 0px;
}

.promotion_wrapper .promotion_animation .left { 
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 150px;
    font-family: 'Fugaz One', cursive;
    flex-grow: 1;
    color:#ffffff;
    line-height: 135px;
}

.promotion_wrapper .promotion_animation .left span {
    display:block;
 }

.promotion_wrapper .promotion_animation .right {
    line-height: 135px;
}

.promotion_wrapper .promotion_animation .right div{
    width: 280px;
    height: 280px;
    background-size: contain !important;
    transition: ease-in-out .3s;
}

/*=============================
         PROMOTION ENROLL
===============================*/

.promotion_wrapper .enroll_wrapper {
    text-align: center;
}

.promotion_wrapper .enroll_title {
    font-family: 'Fugaz One', cursive;
    font-size: 26px;
    color: #eb9324;
}

.promotion_wrapper .enroll_input {
    width: 330px;
    margin: 0 auto;
    padding: 10px 0px;
}

.promotion_wrapper .enroll_disc {
    font-weight: 300;
    font-size: 14px;
    color: #cacaca;
    margin: 50px auto;
    padding: 10px 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cecece;
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #cecece;
    text-align: center;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #cecece;
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    color: #cecece;
    text-align: center;
}

/*=============================
            SIGN IN
===============================*/

.signin_wrapper {
    margin-top: 97px;
    padding: 20px;
    min-height: 70vh;
    text-align: center;
    background: #464646;
    padding-bottom: 100px;
    padding-top: 150px;
}

.signin_wrapper form {
    width: 350px;
    margin: 0 auto;
}

.signin_wrapper form button {
    width: 100%;
    padding: 10px;
}

.signin_wrapper h2 {
    font-family: 'Fugaz One', cursive;
    color: #eb9324;
    font-size: 50px;
}

/*=============================
            DASHBOARD
===============================*/

.user_dashboard {
    font-size: 60px;
    font-family: 'Fugaz One', cursive;
    color: #e2e2e2;
    text-align: center;
    margin-top: 200px;
}

/*=============================
         ADMIN
===============================*/

.admin_container {
    margin-top: 96px;
    display:flex;
}

.admin_container .admin_left_nav {
    min-height: 100vh;
    background: #282828;
    /* border-right: 2px solid #01285e; */
}

.admin_container .admin_left_nav .list_item {
    color: #ffffff;
    font-weight: 500;
    border-bottom: 1px solid #353535;
    padding: 18px 25px;
}

.admin_container .admin_left_nav .list_item:hover {
    background: #eb9324;
    color: #282828;
}

.admin_container  .admin_right {
    flex-grow: 1;
}

.admin_container  .admin_progress {
    text-align: center;
    margin: 80px 0px;
    color: #eb9324;
}

.admin_container .admin_nomatches_msg {
    text-align: center;
    margin: 50px 0px;
    color: #e2e2e2;
}

.admin_container .admin_table_head{
    color: rgb(53, 53, 53);
    font-size: 17px;
    background: #eb9324;
}

.admin_container .admin_table_row {
    transition: ease-in-out .3s;
}

.admin_container .admin_table_row:hover {
    background: #f9f9f9;
}

.admin_container .admin_table_row .edit_link {
    opacity: 0;
    color: #b3b3b3;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.admin_container .admin_table_row .edit_link:hover {
    color: #282828;
}

.admin_container .admin_table_row:hover .edit_link {
    opacity: 1;
}

.admin_container .matches_tag_red {
    font-weight: 700;
    color: #F44336;
}

.admin_container .matches_tag_green {
    font-weight: 700;
    color: #2ecc71;
}

.admin_container h2 {
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid #dbdbdb;
    color: #414141;
    font-size: 40px;
}

.admin_submit button {
    font-size: 20px;
    margin: 40px 0px;
    color: #353535;
}

.editmatch_dialog_wrapper,
.editplayer_dialog_wrapper {
    padding: 40px;
    width: 480px;
}

.select_team_layout input[name=result_local_input],
.select_team_layout input[name=result_away_input] {
    width: 60px;
    text-align: center;
    background: #eb9324;
    color: #353535;
}

.select_team_layout input[name=result_local_input]::-webkit-input-placeholder,
.select_team_layout input[name=result_away_input]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b36c12;
    font-weight: 500;
    text-align: center;
}

.select_team_layout .wrapper{
    display: flex;
}

.select_team_layout .wrapper .left {
    flex-grow: 1;
}

.image_upload_container {
    position: relative;
}

.image_upload_container .remove {
    top: 0;
    position: absolute;
    right: 0;
    background: #353535;
    color: #ffffff;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
}

/*=============================
        TEAM
===============================*/

.team_container {
    margin-top: 96px;
    padding: 60px;
    background-size: 7px 7px !important;
    min-height: 100vh;
}

.team_category_wrapper .title {
    font-size: 90px;
    margin: 30px 0px;
    font-family: 'Fugaz One', cursive;
    color: #eb9324;
}

.team_category_wrapper .team_cards {
    display: flex;
    flex-wrap: wrap;
}
.team_category_wrapper .team_cards .item{
    margin-right: 20px;
    margin-bottom: 20px;
}

.team_progress,
.matches_progress {
    text-align: center;
    margin: 80px 0px;
    color: #eb9324;
}

/*=============================
        MATCHES
===============================*/

.matches_container {
    margin-top: 96px;
    min-height: 100vh;
    background: #2b2b2b;
}

.matches_container .the_matches_wrapper {
    display: flex;
    background: #2b2b2b;
}

.the_matches_wrapper .left {
    flex-grow: 1;
}

.the_matches_wrapper .progress {
    text-align: center;
    padding: 60px 0px;
}

.match_filters {
    display: flex;
    border-bottom: 1px solid #eb9324;
    background: #d4831e;
}
.match_filters .tag {
   font-weight: 500;
   margin-bottom: 5px;
   color: #2b2b2b;;
}
.match_filters .option {
   background: #ffffff;
   padding: 5px 9px;
   border-radius: 3px;
   font-size: 13px;
   margin-right: 5px;
   cursor: pointer;
}

.match_filters .option.active {
   background: #2b2b2b;
   color: #fff;
}

.match_filters_box {
   padding: 10px 20px;
   border-right: 1px solid #eb9324;
   background: #eb9324;
}

.match_filters .match_filters_container {
   display: flex;
}

.match_box_big {
    width:100%;
    border-bottom: 2px solid #eb9324;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    height: 143px;
    clear: both;
}

.match_box_big .block_wrapper {
    line-height: 32px;
    margin-right: 50px;
    float: left;
}

.match_box_big .block {
    display: flex;
}

.match_box_big .icon{
    width: 50px;
    height: 50px;
}

.match_box_big .block .team,
.match_box_big .block .result {
    font-size: 21px;
    line-height: 51px;
    margin-left: 18px;
    font-weight: 300;
}

.match_box_big .block .result {
    font-weight: 500;
}